@media screen and (max-width:991px){
    .responciveimage{
        display: none;
    }
    .card1ww{
        display: none;
    }
    .welcome{
        text-align: center;
    }
    .whatdoido{
        display: none;
    }

    .contactform{
        margin-top: 2rem;
    }
    .mapadd{
        text-align: center;
    }
    .col-lg-3.col-sm-6 {
    margin-top: 1rem;


}
.col-lg-6.bg-dark.text-white.text-center {
	margin-top: 1rem;
}
.col-lg-6.bg-info.text-white.text-center {
	margin-bottom: 1rem;
}
.howdoiwork {

	clip-path: polygon(0 0, 100% 0 ,100% 100% ,30% 95% , 0 100%);

}

}



}
@media screen and (max-width:600px){


    .mapadd {
    display: none;
}

}


@media screen and (max-width:774px){
        .mapadd {
    display: none;
}

 .contactform {
    margin-top: 2rem;
}

.workflow .row {
    text-align: center;
}










}
@media screen and (max-width:576px){
    .tastimonial {
    display:none;
}
.col-lg-6 {
  text-align: center;
}
p.costom {
	width: 91vw;
	padding-left: 1rem;
}
.row.mt-5.ml-1 {

	display: flex;
	justify-content: center;
}
.Slider_section {

	height: 68vh;

}

section.happyclind {

	clip-path: polygon(0 0, 100% 0 ,100% 100% ,27% 95% , 0 100%);

}



}

@media screen and (max-width:425px){


    .mapadd {
    display: none;
}
 .contactform {
    margin-top: 2rem;
}

.tastimonial {

    display:none;

}



}


@media screen and (max-width:320px){


 .contactform {
    margin-top: 0.1rem;
}

.tastimonial {

    display:none;

}


}
@media screen and (max-width:474px){
  .contrivute {
  	margin-top: 3rem;
  	background: #d7d7d7;
  	padding: 1rem;
}
.Slider_section {
	height: 78vh;
}


}
@media screen and (max-width:375px){
  p.costom {

  	font-size: 15px;
  	line-height: 25px;
  }
  h1.costom {
	font-size: 16px;
}
.Slider_section {
	height: 61vh;
}





}
