
body{
  background:url(../image/osit.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position:relative;
}
body::before{
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 1, 0.75);
  z-index: -20;
  position: absolute;
  
}


img.manclsaa {
    width: 22vw;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.aboutSection{
    padding: 3rem 0;
}

.mySelf_seciont{
    height: 300px;
}
/* Progres */


.skillbarsection{
    height:750px;
    padding: 1rem 0;
}



.progress {
  height: 35px;

}
.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}
/* Resume Responcive Design */
@media screen and (max-width:1015px){


  .wrapper2 {
	display: none;
}
.col-lg-7 {
	width: 100%;
	text-align: ;
}
.progress.skill-bar {
	margin-top: 1rem;
}

}

@media screen and (max-width:992px){


.col-lg-7 {

	text-align: center;
}


}

































