
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
//@at-root

.wow{

        button {
    outline: none;
    border: noe;
    border: none;
    background: #507cc6;
    color: #000;
    font-family: arial;
    padding: 10px 30px;
    font-size:16px;
    cursor: pointer;
    margin-top:16px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    &:hover{
        background: #fff;
    color: #000;

    }
}

}

// loding page amination 



// loding page amination 


//  Socal Media Icon posisation fixt 
.social_media_fixt{
      position: fixed;
    right: 10px;
    bottom: 250px;
    z-index: 50;
    .socAlmedia{
        ul{
            li{
                list-style:none;
                margin-top: 5px;;
                a{
                    text-decoration:none;
                    cursor: pointer;

                    i{
                        font-size:30px;
                        color:black;
                        transition: .5s ease-in-out;

                        &:hover{
                            color: green;
                            transform: translateX(7px);
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }

}








//  Socal Media Icon posisation fixt 


// scroll to top section design stert//

.scroll_to_top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    button{
          outline: none;
          border: none;

    }
    
    .scrollicon{
        width: 40px;
      
        height: 40px;
        text-align:center;
        line-height:40px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
         transition: .5s ease-in-out;
                      &:hover{
                            
                            transform: translateX(7px);
                            transform: scale(1.2);
                        }
        i{
            color: white;

            &:hover{
                color: yellow;;
            }
           
        }
    }


}
// scroll to top section design stert//

// navbar contennt design

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.navbar_wrapper {
    background: rgba(24, 104 ,228 ,0.7);
    padding: 1rem 0;
}
.navabar_section{
    img{
           width: 229px;
           cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
      align-items: center;
    .menue_part{
        ul{
            display: flex;
            justify-content: space-between;
            width: 500px;

          
            li{
                list-style-type: none;
                a{
                    text-decoration:none;
                   
                    font-weight: 450;
                    color:#fff;
                    font-size: 18px;
                    transition:0.6s ease-in-out;
                   
                    &:hover{
                        color:#000;
                    }

                }
            }
        }
    }

}
section.slider_wrapper {

    background: url(../image/bg.jpg) no-repeat center;
    background-attachment: fixed;
   
    background-size: cover;
    position: relative;
    z-index: 5;
}
section.slider_wrapper::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  background:rgba(0, 100, 255, 0.50);
    left: 0;
    top: 0;
    z-index: -3;
}
.slider_wrapper{

    .content_item{
    display: flex;
   .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
    font-size: 56px;
    margin-bottom: 2rem;
    
}
p {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 33px;
    color: #fff;
}

}
    
}
.right{
    img{
            margin-top: 4rem;


    }
}

}
.content_item{
    display: flex;

}
.cardfor_wrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    .cardfo{
        display: flex;
        align-items: center;
        span{
                color: #333;
    font-weight: 600;
    justify-content: space-around;
    
        }
    }
}
.Services{
    background: rgb(82,76,171);
background: linear-gradient(90deg, rgba(82,76,171,1) 0%, rgba(10,240,75,0.42930675688244047) 50%, rgba(0,212,255,1) 84%);
padding-bottom: 2rem;

}



    .head_tagline{
                    
        h1{

    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-family: 'Alata', sans-serif;
    font-size: 42px;
    padding-top: 3rem;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover{
        color:gray
    }

            ::before{
                content: "";
                width:40px;
                height: 5px;
                background:yellow;
                display: inline-block;
            }

        }
    }
.head_tagline ::after {
    content: "";
    width: 194px;
    height: 3px;
    margin-top: 0.5rem;
    background: #1d7b67;
    display: block;
    margin-left: 471px;
}

.service_wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 1rem;
    grid-gap:1rem;
    .card1ww{
        display: flex;

        i{
          border: 3px solid #0E1C36;
          width: 60px;
          height:  60px;
          border-radius: 50%;
          line-height: 60px;
          text-align: center;
         transition:1s ease;
         font-size: 20px;
          &:hover{
              cursor: pointer;
              transform:scale(1.5)
          }
        }
        .content{
            margin-left: 1.5rem;

            h2{
                margin-bottom: 1rem;
                font-family: 'Do Hyeon', sans-serif;
            }
            p{
                font-family: 'Do Hyeon', sans-serif;
                line-height: 1.5rem;

            }
        }
    }
}


// welcome section design

.welcome{
//     background: rgb(82,76,171);
// background: linear-gradient(90deg, rgba(82,76,171,1) 0%, rgba(0,255,72,0.42930675688244047) 50%, rgba(88,92,24,1) 84%, rgba(27,159,186,1) 93%);
// clip-path: polygon(0% 0%, 93% 0, 100% 50%, 93% 100%, 0% 100%);


    .welcome_wrapper{
        display: flex;
            margin-top: 3rem;
    margin-bottom: 3rem;
        .welcome_left{
            margin-top: 3rem;
            h1{

                font-size:40px ;
                margin-bottom: 2rem;
            
            }
            h2{
                margin-bottom: 1rem;
                color: #636c77;
            }
            p {
        width: 700px;
        margin-bottom: 2rem;
        line-height: 2rem;
        font-family: 'Roboto', sans-serif;
}

        }
        .welcome_right{
     display: flex;
    align-items: center;
    margin-left: 3rem;
            .info_wrapper{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 3rem;
                .infocc{

                    h1{
                           font-size: 61px;
                             color: #ddd;
                              margin-bottom: 0.5rem;
                    }
                    h3{
                        color: #000;
                        margin-bottom: 1rem;
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                            line-height: 1.5rem;
                    }

                }
              }
            
        }}
    

}

//  how do i work

.how_do{
    padding-bottom:3rem;
    .howdo_work_wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
        grid-row-gap: 4rem;
        
        .card_code1{
            text-align: center;
            i{
                    color: #0E6655;
                    border: 3px solid #07d307;
                    padding: 2rem;
                    font-size: 5rem;
                    margin-bottom: 2rem;
                    width: 146px;
                    height: 146px;
                    border-radius: 50%;
                    transition: 1s ease-in-out;
                    &:hover{
                        color: #000;background:#ddd;
-webkit-box-shadow: 18px 2px 56px 9px rgba(0,0,0,0.35);
-moz-box-shadow: 18px 2px 56px 9px rgba(0,0,0,0.35);
box-shadow: 18px 2px 56px 9px rgba(0,0,0,0.35);
                    }
                }
                h1{
                   margin-bottom: 1rem;
                }
                p{
                    line-height:1.5rem;
                }
        }
    }
    
}
//  contact page system

.contact{
    background:#ffff;
    height: 600px;
    .contact_wrappper{
        display:flex;
        margin-top: 5rem ;
    .contactleft{

        h1{
            margin-top: 4rem;
            margin-bottom: 3rem;
            font-size: 3rem;
        }



           .flexcc{
            display: flex;
                margin-bottom: 3rem;
            .main{
                margin-left: 1rem;
            }

            i{
                font-size: 2rem;
                color:#39dfaa;
        
            }
            h2{
                color: #000;

            }
            h3{
                    color: #a29e9e;

            }
        }


    }   

}} 

// This is a gallery section 
.discover{
    background:#333;
        padding-bottom: 3rem;

    .head_tagline{
        h1{
            color:#fff;
        }
    }
    .pgallelry{
        .tabs{
            ul{
                display: flex;
                margin-bottom: 1rem;
                li{
                    list-style-type: none;
                    margin-left: 1rem;
                    border: 1px solid #fff;
                    background: white;
                    padding: 2px 5px;
                    border-radius: 4px;
                    transition: .3s ease-in-out;
               
                    
                    a{
        
                            text-decoration: none;
                            color: #000;
                            border-bottom: 1px solid transparent;
                            font-size: 13px;
                            font-weight: 550;
                

                    }
                }
            }
        }
        .protfolio_wrappe3r{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 1rem;
            .itemclass{
                position: relative;

                a{
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                  
                }}


            }

        }

    }
}
// 
.itemclass::before{
   content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(0,0,0,0.35);
}
// 




.formcard {
    width: 476px;
        margin-top: 7rem;
    display: flex;
    flex-direction: column;


    input[type="text"] {
    padding: .5rem;
    outline: none;
    border: 1px solid;
  
    margin-bottom: 1rem;
 border-color: #ddd;
}
input[type="emile"] {
    padding: .5rem;
    outline: none;
    border: 1px solid;
        border-color: #ddd;
        margin-bottom: 1rem;
 
}
textarea{
     margin-bottom: 1rem;
      outline: none;
    border: 1px solid;
    padding:1rem;
        border-color: #ddd;
       
}
button {
    padding: 10px 30px;
    outline: none;
    border: navajowhite;
    background: #2abcc5;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    width: 228px;
    transition:0.4s ease-in-out ;
    &:hover{
         background: #333;
         color:#fff

    }
}

}
.overley{

    background:rgba(0,0,0,0.70);
    height: 100%;
    text-align:center;

}

.workonsec{
background-image:url("../image/sea.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size: cover;
height: 500px;

.workon_wrapper{
   
    display: flex;
       justify-content: space-evenly;
    .cardpast{
      margin-top: 9rem;
      margin-bottom: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;;
    a{
        cursor: pointer;
        text-decoration:none;
        text-align:center;
     
    }

        img{
                width: 86px;
                display: block;
                margin-bottom: 2rem;
                // background: white;
                padding: 14px;
                    margin-left: 3rem;
                // border-radius: 50%;
                transition:0.5s ease-out;
                &:hover{
                    transform: scale(1.5);
                }
        }
    }

    strong {
    font-size: 14px;
    font-weight: 200;
    color:#fff;
         transition:0.5s ease-out;
         text-transform: capitalize;
    &:hover{
        color: yellowgreen;
    }

}
h2 {
    font-weight: 500;
    margin-top: 0.5rem;
    font-family: arial;
    color:#fff;
    font-size:20px;
         transition:0.5s ease-out;
         &:hover{
             color:gray
         }
}
}


}

//  this is a footer seciont


.fotersecion{
    background:#1782b7;
    padding: 1rem 0;
    .fcontent{
        text-align: center;
        h3{
            color: #ffff;
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
            font-size: 17px;
            a{
                text-decoration: none;
                color:#fff;
                font-size:20;
                 transition:0.5s ease-out;
                &:hover{
                    color:#000
                }
            }
        }
    }

}

//  This is a about section 

.aboutme{
    padding: 5rem 0;
    .about_wrapper{
        display: flex;
        .contenabout{
            margin-left: 2rem;
            margin-top: 2rem;
            .contentfucase{
                      margin-top: 6.5rem;

                      h3 {
                        margin-top: 1rem;

                        span{
                               font-weight: 100;
    font-size: 1rem;
                        }
                        strong {
    font-family: arial;
    margin-left: 10px;
    color: #5c5151;
}
                    }

        
            }
        }
        .awrapper1{
            .imageabout{
                h1{
                    margin-bottom: 1rem;
                    font-size:35px;
                }
                img{
                        margin-top: 3rem;

                }
            }
            display: flex;
            .imageabout{
                img{
                    width: 200px;
                    border:1px solid #000;
                }
            }

        }

    }
    .wrapper2{
        padding-left: 2rem;
            padding-left: 2rem;
    margin-top: 5rem;
    }
    

}
// workflow section

.seftmy{
   h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
   font-family: 'Alata', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    
    margin-bottom: 1rem;
    line-height: 2rem;

}
}
.workweblink{
    margin-bottom: 2rem;
    margin-top:2rem;
    .workwrappper{
        a{
            text-decoration:none;
           background:#1ebbf0;
           padding: 10px 30px;
           color: #fff;
           font-weight: 500;
          font-family: 'Alata', sans-serif;
          transition: 0.3s ease-in-out;
          &:hover{
              background:#33fc;
          }
        }
    }
}
// proatfolio section

.workflow{
    background:#ddd;
    
    height: 20rem;
    font-family: 'Roboto', sans-serif;


    .bacck{
        text-align: center;
        a{
            text-decoration:none;
            color: green;
        }
        span{
            text-transform: capitalize;
        }
 
    }
    .note {
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
    p {
    color: #818181;

}
strong {
    font-size: 20px;
    color: #929281;
}
}
  
}


// contact page design
.contact_us{
    background:#ddd;
    padding: 2rem 0;
    .contact_wrappper{
        text-align: center;
        
        .concactwrapper{
            a{
                text-decoration:none;
                color:#ff
            }
        }
    }

}
.contact_wrappe{
    padding: 2rem 0;
}
.contact_linkcc{
    text-align: center;
}

// con cc

.cont_agayn{
        padding-bottom: 6rem;
    margin-top: 3rem;
    .con_wrapperccpp{
        display: flex;
        justify-content: space-between;
        .con1{
            background:#FF5733 ;
            text-align: center;
             display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffff;
    transition: .36s ease-in-out;
    &:hover{
           background:#000 ;
    }
            .protfolio_wrappe3r{
                padding: 1rem;

                i{
                    font-size: 30px;
                    margin-bottom: 1rem;
                    color: #39dfaa;
                }
                h2{
                          margin-bottom: 1rem;
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        color: #39dfaa;

                }
                h3{


                }
               
            }
        }
    }

}
// blog section
.contttc1 {
    margin-top: 2rem;
}

.blog_wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);;
    .b_wrapper1 {
    width: 801px;
    
   
}
.b_wrapper2{
     width: 350;
    height: 1758px;
    background: #FF5733;
    position: sticky;

}


}
.contttc1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
// 
// 
// 
// 
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
//   box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
}
// 
.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats; 
}
.card-image {
  grid-area: image;
  background: url("../image/google.png");
 
  
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  background:#272123;
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding:10px;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card {
    width: 300px;
}
// 

.b_wrapper2{
    padding: 1rem;
    input[type="text"] {
    outline: none;
    border: 1px solid;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
}
button{
    position: absolute;
    left: 293px;
    background: none;
    border: none;
    outline: none;
    top: 22px;
    font-size: 18px;
    cursor: pointer;

}
}
.responcer{
    text-align: center;
    img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.abouttt{
    h2{
        color: #fff;
        margin-bottom: 1rem;
    }
    img{

        width: 150px;
        margin-bottom: 1rem;

    }
    p{
        color: #fff;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    }
}
//   not importent part 
.skillsectio{
    padding-bottom:3rem;
    
    .skillbardes{
        margin-top: 2rem;
        .mainSkill{
            .howdo_work_wrapper{
                h3{
                    padding: 0.8rem 0;
                }
            }
            .skillnno1{
                height: 22px;
               
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                    border-radius: 29px;
                    span{
                           border: 1px solid;
                            color: #fff;
                            font-weight: 600;
                            width: 44px;
                            height: 44px;
                            line-height: 44px;
                            text-align: center;
                            border-radius: 50%;
                            margin-top: -10px;
                            background:#333;
                    }
                .skillpertion{
                 background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 90%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;
                }
                .skillpertion1{
                      background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                      width: 80%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;

                }

                   .skillpertion2{
                     background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 75%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;

                }
                 .skillpertion3{
                     background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 85%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;

                }
                      .skillpertion4{
                     background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 45%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;

                }
                      .skillpertion5{
                     background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 60%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;

                }
                      .skillpertion6{
                     background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 50%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;

                }
                            .skillpertion7{
                     background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 82%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;

                        border-radius: 29px;
                }
                         .skillpertion8{
                     background: linear-gradient(90deg, #524cab 0%, rgba(10, 240, 75, 0.429307) 50%, #00d4ff 84%);
                    width: 70%;
                    animation:skillupdown 2s ease-in-out;
                        border-radius: 29px;
                     

                }
                
            }

        }
    }

}

@keyframes skillupdown{
    0%{
         width: 0%;

    }
    100%{
         width: 80%;

    }
}

// 

//  .skillpertion8::after{
//      content: "";
//      width: 50px;
//      height: 30px;
//      background:#07d307;
//      position: absolute;
//      top: 0;
//      right: 0;

//  }