@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


/* navigationbar */
/* Pre loder section */


/* Pre loder section */
/*  */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/* Scroll to top */
/* Stacky nav bar  */

#sticky-social {
    left: 0;
    position: fixed;
    top: 150px;
    z-index: 1000000000;
}
 a { 
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#sticky-social {
   left: 0;
   position: fixed;
   top: 150px;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }

#sticky-social a[class*="gplus"],
#sticky-social a[class*="gplus"]:hover,
#sticky-social a[class*="gplus"] span { background: #dd4b39; }  

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #007bb6; }  

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span { background: #517fa4; }  

#sticky-social a[class*="stumbleupon"],
#sticky-social a[class*="stumbleupon"]:hover,
#sticky-social a[class*="stumbleupon"] span { background: #eb4924; }  

#sticky-social a[class*="pinterest"],
#sticky-social a[class*="pinterest"]:hover,
#sticky-social a[class*="pinterest"] span { background: #cc2127; }  

#sticky-social a[class*="flickr"],
#sticky-social a[class*="flickr"]:hover,
#sticky-social a[class*="flickr"] span { background: #ff0084; }  

#sticky-social a[class*="tumblr"],
#sticky-social a[class*="tumblr"]:hover,
#sticky-social a[class*="tumblr"] span { background: #32506d; }

/* Stacky nav bar  */



/*  */
a.btn-danger.w-20 {
    width: 9rem;
    text-align: center;
    padding: 10px 11px;
    margin-left: .5rem;
}



/*  */

.dropdown ul{
    list-style: none;
}

.dropdown a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: #60b4df;
    width: 100%;
    z-index: 1000;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}

.jjcc{
   
   
    margin: 0 auto;
    display: flex;
    position: relative;
}


.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
  
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo img{
    width: 10vw;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}
.nav-link > a {
    line-height: 3rem;
    color: #fff;
    padding: 0 0.6rem;
    letter-spacing: 1px;
    font-size: 0.98rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    margin-top: 1vh;
    font-weight: 600;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}
.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #69bde7;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links > ul{
        flex-direction: column;
    }
    .arrow{
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

 
   

   



  

 
}

/*  navigation bar all disign here */

/* Slider_section */
.Slider_section{
    background-image: url("../image/tow.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: 1;
}
.Slider_section::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;

    background:  rgba(0, 0, 0, 0.50);
    z-index: -1;
}
.Slider_section img{
    width: 40vw;

}

h1.costom {
    color: aliceblue;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
p.costom {
    color: #fff;
    font-size: 18px;
    line-height:5vh;
}

.fontcc{
    color: #000;
}
.fontcc h1{
    font-weight: 700;
}
.fontcc p{
    font-weight: 500;
}
.workon img {
    width: 50vw;
}
/* Slider_section End */


/*  */
/* Counter */
.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
/* counter */

  .welcome {
    padding: 3rem 0;

}

.contentcc {
    padding-top:5vh;
}

.contentcc h1 {
    margin-bottom: 3vh;
}

.contentcc h2 {
    margin-bottom: 3vh;
}

.contentcc p {
    margin-bottom: 2rem;
}

/* Section class disign */
/* What i do  */
.whatdoido {
    background: #32c875ba;
    padding: 3rem 0;
    clip-path: polygon(0 0, 100% 0 ,100% 100% ,71% 88% , 0 100%);
    padding-bottom: 7rem;
}
i.prefixxxxx {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333;
}

/* What i do  */

.workflow {
    height: 571px;
    padding-top: 3rem ;
}
.allcontent img {
    width: 16rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid;
}
.col-lg-12 {
    height: 110px;
}
i.fas.fa-envelope-square{
    font-size: 2.5rem;
    margin-right: 1rem;
}
i.fas.fa-phone-alt {
    font-size: 2.5rem;
    margin-right: 1rem;
}

i.fas.fa-street-view {
        font-size: 2.5rem;
        margin-right: 1rem;
}

i.fas.fa-hourglass-half {
        font-size: 2.5rem;
        margin-right: 1rem;

}

/* How id work section */

section.howdoiwork {
    padding: 4rem 0;
}
.howdoiwork{
    background: #86ff476b;
    clip-path: polygon(0 0, 100% 0 ,100% 100% ,27% 88% , 0 100%);
    padding-bottom: 7rem;

}
.conetntsection {
    padding-bottom: 5rem;
}

 
.section_heading h1{

   


}
.collres{
    margin-top: 5rem;
}

/* Tastiomonial */

.tastimonial{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     position: relative;
     display: flex;
     width: 350px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
     -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
     box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
 }

 .card .card-body {
     padding: 1rem 1rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }

 p {
     font-size: 0.875rem;
     margin-bottom: .5rem;
     line-height: 1.5rem
 }

 h4 {
     line-height: .2 !important
 }

 .profile {
     margin-top: 16px;
     margin-left: 11px
 }

 .profile-pic {
     width: 58px
 }

 .cust-name {
     font-size: 18px
 }

 .cust-profession {
     font-size: 10px
 }

 .items {
     width: 90%;
     margin: 0px auto;
     margin-top: 100px
 }

 .slick-slide {
     margin: 10px
 }
 /* footrer */


 /* */
 .card_code1 {
    text-align: center;
}

  i.privixx  {
    font-size: 6rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
/*  */
section.happyclind {
    padding: 3rem 0;
        clip-path: polygon(0 0, 100% 0 ,100% 100% ,27% 88% , 0 100%);
        padding-bottom: 5rem;

}

/* Time function */

.timingfunction {
    position: fixed;
    top: 30rem;
    top: 20;
    left: 4px;
    z-index: 30120120502510;

}
small{
    font-weight: bold;
}

/* Hover Effect All Here*/
.icons i{
    transition:0.5s ease-in-out;
}
.icons i:hover{
    color: #9228ad;
    cursor: pointer;
    transform:scale(1.1);

}